// Operator "O"
operator: eyJ0eXAiOiJKV1QiLCJhbGciOiJlZDI1NTE5LW5rZXkifQ.eyJqdGkiOiJBUEhUUEZFTFlCNUs3NzJaTUdZVlZJR1FSNFNMQU5aVUVBUlJVM0hFMktSNE80Uk1RUVVBIiwiaWF0IjoxNzM1NTc2NjYwLCJpc3MiOiJPQkdEUEE1NzdQNzNOTjdKRkdPUkZGSVVSNU1GR0g3SklXTEs1RDNKNUJaUVBTNUFZMkNFRzZNMiIsIm5hbWUiOiJPIiwic3ViIjoiT0JHRFBBNTc3UDczTk43SkZHT1JGRklVUjVNRkdIN0pJV0xLNUQzSjVCWlFQUzVBWTJDRUc2TTIiLCJuYXRzIjp7InN5c3RlbV9hY2NvdW50IjoiQUNENVMzNk1LN09GRkEyUUlDSEg2S1o1TzUzWTdCWDVDQ0NFSExFU1hVQVJOTkJES1NUTElHV08iLCJ0eXBlIjoib3BlcmF0b3IiLCJ2ZXJzaW9uIjoyfX0.Np3CwDx62iRz7ITVoHZ_nT65H_DccE4rMhLfu_Dp3Czd_6P8qgaE-SFMlNuTaWGcCXVJAX7WTCvJvvP04TiMDA

system_account: ACD5S36MK7OFFA2QICHH6KZ5O53Y7BX5CCCEHLESXUARNNBDKSTLIGWO

resolver: MEMORY

resolver_preload: {
  // Account "A"
  AB7YC4KNMK6AY3ZQNNYY6XNW7OVSQP3RDHMFWQXZJ6EXPSKVNJTBBMPC: eyJ0eXAiOiJKV1QiLCJhbGciOiJlZDI1NTE5LW5rZXkifQ.eyJqdGkiOiJaSFZFSkVOQ1UzQjdFNzczSVNWT0FTTExBQldZS1lSUElZSUhSM1JDRjRGSVczNkZVTFdBIiwiaWF0IjoxNzM1NTc2Njc4LCJpc3MiOiJPQkdEUEE1NzdQNzNOTjdKRkdPUkZGSVVSNU1GR0g3SklXTEs1RDNKNUJaUVBTNUFZMkNFRzZNMiIsIm5hbWUiOiJBIiwic3ViIjoiQUI3WUM0S05NSzZBWTNaUU5OWVk2WE5XN09WU1FQM1JESE1GV1FYWko2RVhQU0tWTkpUQkJNUEMiLCJuYXRzIjp7ImxpbWl0cyI6eyJzdWJzIjotMSwiZGF0YSI6LTEsInBheWxvYWQiOi0xLCJpbXBvcnRzIjotMSwiZXhwb3J0cyI6LTEsIndpbGRjYXJkcyI6dHJ1ZSwiY29ubiI6LTEsImxlYWYiOi0xfSwiZGVmYXVsdF9wZXJtaXNzaW9ucyI6eyJwdWIiOnt9LCJzdWIiOnt9fSwiYXV0aG9yaXphdGlvbiI6e30sInR5cGUiOiJhY2NvdW50IiwidmVyc2lvbiI6Mn19.EtSMAqKhkOBwYWTrCnR8XB00kBqnnrhpF6mfYxep1lhsApZvWKVZpwXqZPNGy2YMm7MB1dnjd4Q-vV9V6xxMAQ

  // Account "SYS"
  ACD5S36MK7OFFA2QICHH6KZ5O53Y7BX5CCCEHLESXUARNNBDKSTLIGWO: eyJ0eXAiOiJKV1QiLCJhbGciOiJlZDI1NTE5LW5rZXkifQ.eyJqdGkiOiJMT1NPWlFEVUtLWFNLTkhOTVRVSVJZVEs0UVBCNENaTEROT1BMQUZLUFFDVFIyNFZMRUlBIiwiaWF0IjoxNzM1NTc2NjQ3LCJpc3MiOiJPQkdEUEE1NzdQNzNOTjdKRkdPUkZGSVVSNU1GR0g3SklXTEs1RDNKNUJaUVBTNUFZMkNFRzZNMiIsIm5hbWUiOiJTWVMiLCJzdWIiOiJBQ0Q1UzM2TUs3T0ZGQTJRSUNISDZLWjVPNTNZN0JYNUNDQ0VITEVTWFVBUk5OQkRLU1RMSUdXTyIsIm5hdHMiOnsibGltaXRzIjp7InN1YnMiOi0xLCJkYXRhIjotMSwicGF5bG9hZCI6LTEsImltcG9ydHMiOi0xLCJleHBvcnRzIjotMSwid2lsZGNhcmRzIjp0cnVlLCJjb25uIjotMSwibGVhZiI6LTF9LCJkZWZhdWx0X3Blcm1pc3Npb25zIjp7InB1YiI6e30sInN1YiI6e319LCJhdXRob3JpemF0aW9uIjp7fSwidHlwZSI6ImFjY291bnQiLCJ2ZXJzaW9uIjoyfX0.qqtGAYRvQJBRQZH4ByvARnHKcryan1e6RRLALhfZaX2PQ0JoENw8MJ7nxulpHHvp7-kTmigrCAL6uWnUZhw1Cg

  // Account "C"
  ACHWJWCMNYSJEAWT2L7M7B7SYDPRGA5FHMYR3BPA2JLLWHNVNDD4PWM7: eyJ0eXAiOiJKV1QiLCJhbGciOiJlZDI1NTE5LW5rZXkifQ.eyJqdGkiOiJHRkk3WVlHRjJZUFI2S1RYR1hQNUVTVjYzS1FPSFhGNVNYUlZaV0pQSVhWRkc2MkJPVkFRIiwiaWF0IjoxNzM1NTc2OTU3LCJpc3MiOiJPQkdEUEE1NzdQNzNOTjdKRkdPUkZGSVVSNU1GR0g3SklXTEs1RDNKNUJaUVBTNUFZMkNFRzZNMiIsIm5hbWUiOiJDIiwic3ViIjoiQUNIV0pXQ01OWVNKRUFXVDJMN003QjdTWURQUkdBNUZITVlSM0JQQTJKTExXSE5WTkRENFBXTTciLCJuYXRzIjp7ImxpbWl0cyI6eyJzdWJzIjotMSwiZGF0YSI6LTEsInBheWxvYWQiOi0xLCJpbXBvcnRzIjotMSwiZXhwb3J0cyI6LTEsIndpbGRjYXJkcyI6dHJ1ZSwiY29ubiI6LTEsImxlYWYiOi0xfSwiZGVmYXVsdF9wZXJtaXNzaW9ucyI6eyJwdWIiOnt9LCJzdWIiOnt9fSwiYXV0aG9yaXphdGlvbiI6eyJhdXRoX3VzZXJzIjpbIlVES0ZLWVFWMlJRWVJVSVFYUzZMTFJBRks0TVJRWkJERUtDM0JMNDJPU0Y1V0o2WEJJRTc1RkNPIl0sImFsbG93ZWRfYWNjb3VudHMiOlsiQUI3WUM0S05NSzZBWTNaUU5OWVk2WE5XN09WU1FQM1JESE1GV1FYWko2RVhQU0tWTkpUQkJNUEMiXX0sInR5cGUiOiJhY2NvdW50IiwidmVyc2lvbiI6Mn19.npIFFip1QY401Nq-In7mVJGb4-Tf73ZKtSBnPomSpE3vExIAb6dA50eBCS0n3dCpC6iwZx0vmlYVXuVaBDlNBA

}
